<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
<div class="container">
  <header>
      <div class="row">
          <div class="col-md-8">
              <h1>Trivia Database</h1>
          </div>
          <div class="col-md-4">
              {% if user %}
                <!--<span><p>Hello {{user}}</p></span>-->
                <span><img src="{{picture}}" alt="{{user}}" style = "width: 30px; height: 30px;border-radius: 150px;-webkit-border-radius: 150px;-moz-border-radius: 150px;" ></span>
                <a href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a href="{{ url_for('login') }}">Login</a>
              {% endif %}
          </div>

      </div>
  </header>

        {% block content %}
        {% endblock %}
        {% block footer %}

        {% endblock %}
</div>
</body>
</html>