<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-social.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <title>Login</title>
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

</head>

<style>
html,body {
  height:100%;
  width:100%;
  margin:0;
}
body {
  display:flex;
}
.container {
  margin:auto;
}
</style>

<body>

<!-- GOOGLE PLUS SIGN IN BUTTON-->
<div class="container" align="center">
    <div class="card" id="card">
        <br><br>
        <h4><b>Log in</b></h4>
        <p>To access awesome Trivia questions</p>
        <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
            <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
        </fb:login-button>
        <br> <br>
        <div id="signInButton">
        <span class="g-signin"
            data-scope="openid email"
            data-clientid="193796381082-v4h1jmbd88e0ak19tlqelgpafceiuoh9.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
        </span>
        <div id="result"></div>
    </div>
    </div>




<!-- GOOGLE  SIGN IN  -->
<script>
function signInCallback(authResult) {
    if (authResult['code']) {
        // Hide the sign-in button now that the user is authorized
        $('#signinButton').attr('style', 'display: none');
        // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main page
        $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
            // Handle or verify the server response if necessary.
            if (result) {
              $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
             setTimeout(function() {
              window.location.href = "/main";
             }, 4000);

            } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
        } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
             }
          }

  }); } }
</script>
<!--END GOOGLE PLUS SIGN IN BUTTON -->

<!--FACEBOOK SIGN IN -->
<script>
    window.fbAsyncInit = function() {
    FB.init({
    appId      : '516614555204170',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
    });
    };

    // Load the SDK asynchronously
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
        console.log('Successful login for: ' + response.name);
        $.ajax({
        type: 'POST',
        url: '/fbconnect?state={{STATE}}',
        processData: false,
        data: access_token,
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
        // Handle or verify the server response if necessary.
            if (result) {
                $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                setTimeout(function() {
                window.location.href = "/main";
                }, 4000);
        } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
        }

    });
    });
    }
</script>
<!--END FACEBOOK SIGN IN -->

</div>
</body>
</html>